* {
    margin: 0 auto;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
th,
td {
    text-align: center;
}

.drop_box {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    bottom: 50px;

    display: flex;
    justify-content: center;
    align-content: center;
}
.drop_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination a,
.pagination li,
.pagination span {
    margin: 0;
}